.animate {
  transition: all 0.3s ease-in-out;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes scaleOut {
  0% {
    transform: scale(85%);
    opacity: 0;
  }

  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

.scaleOut {
  animation-name: scaleOut;
}

@keyframes translateUp {
  0% {
    transform: translateY(-48px);
    opacity: 0;
  }

  100% {
    transform: translateY(-80px);
    opacity: 1;
  }
}

.dropdown-menu {
  transition: all 0.3s ease-in-out;
  animation-name: scaleOut;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  // background-color: rgba(255, 255, 255, 0.9);
}

.scaleInOut-enter-active,
.scaleInOut-leave-active {
  transition: 0.3s ease;
  transform: scale(100%);
}

.scaleInOut-enter-from,
.scaleInOut-leave-to {
  opacity: 0;
  transform: scale(92.5%);
}

.customAnimation-enter-active,
.customAnimation-leave-active {
  transition: 0.3s ease;
  // transform: scale(100%);
}

.customAnimation-enter-from,
.customAnimation-leave-to {
  opacity: 0;
  // transform: scale(92.5%);
}
